# https://github.com/bitnami/containers/blob/main/bitnami/redis-cluster/docker-compose.yml
# https://hub.docker.com/r/bitnami/redis-cluster
# Copyright VMware, Inc.
# SPDX-License-Identifier: APACHE-2.0
#
# Run the command below to start a single-node Redis cluster:
# $ docker-compose up -d redis-single-node-cluster

networks:
  redis-cluster-network:
    driver: bridge

services:
  redis-single-node-cluster:
    image: docker.io/bitnamilegacy/redis-cluster:8.2
    environment:
      - 'ALLOW_EMPTY_PASSWORD=yes'
      - 'REDIS_CLUSTER_REPLICAS=0'
      - 'REDIS_NODES=127.0.0.1 127.0.0.1 127.0.0.1'
      - 'REDIS_CLUSTER_CREATOR=yes'
      - 'REDIS_CLUSTER_DYNAMIC_IPS=no'
      - 'REDIS_CLUSTER_ANNOUNCE_IP=127.0.0.1'
    ports:
      - '6379:6379'
    networks:
      - redis-cluster-network
